*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}




:root{
    --pink : hsl(322, 100%, 66%);
    --LightPink: hsl(321, 100%, 78%);
    --LightRed: hsl(0, 100%, 63%);
    --VeryDarkCyan: hsl(192, 100%, 9%);
    --VeryPaleBlue: hsl(207, 100%, 98%);

}

@font-face {
    font-family: Poppins-700;
    src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: OpenSans-400;
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: OpenSans-600;
    src: url(../fonts/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: OpenSans-700;
    src: url(../fonts/OpenSans-Bold.ttf);
}

body{
    width:100%;
    min-height:100vh;
    padding-top: 3rem;
  
   
}

header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10rem;
    padding-right: 4rem;
    padding-left: 4rem;
    flex:1;
    
}

.button-header{
   width:9em;
    padding:.5em;
    border: 2px solid var(--LightPink) ;
    border-radius: 2rem;
    background-color: white;
    color:var(--LightPink) ;
    font-family:OpenSans-400,sans-serif;
    
}

.button-header:hover{
    cursor: pointer;
    border-color:rgb(216,170,199);
    color:rgb(216,170,199);
}

.article-one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    padding-right: 4rem;
    padding-left: 4rem;
}

h1{
    font-family: Poppins-700,sans-serif;
    font-size: 3rem;
    margin-bottom: 2.5rem;
    text-align: center;
}

.article.one{
    width:40%;
    text-align: center;
    font-family:OpenSans-400,sans-serif;
    margin-bottom: 4rem;
}

.button-article,.button-article-six{
    width:25em;
    padding:1em;
    border: 2px solid var(--pink) ;
    border-radius: 2rem;
    background-color: var( --pink);
    color:white ;
    font-family:OpenSans-700,sans-serif;
}

.button-article:hover{
    cursor: pointer;
    background-color: rgb(255,142,214);
    border:2px solid rgb(255,142,214);

}
.button-article-six:hover{
    cursor: pointer;
    background-color:rgb(255,142,214);
    border:2px solid rgb(255,142,214);
}

.button-article-six

 .mockup-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
   
}

.mockup-image-img{
    width:80%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}

.article-two{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30%;
    margin-bottom: 7rem;
    padding-right: 4rem;
    padding-left: 4rem;

}

.two{
    width:2rem;
}

.two-1para{
    font-family: OpenSans-700,sans-serif;
    font-size: 5rem;
    margin-bottom: 1.5rem;
}

.first-para{
    font-family:OpenSans-400,sans-serif;
    color: rgb(207,211,214);
    
}

.second-para{
    font-family:OpenSans-400,sans-serif;
    color: rgb(207,211,214);
    text-align: center;
}

.bg-curve-top1{
    background-image: url(../images/bg-section-top-desktop-1.svg);
    background-repeat: no-repeat;
    background-size: 100% 7.125rem; 
    height:  7.125rem; 
}

.article-three{
    display: flex;
    background-color: rgb(246,251,255);
    padding-right: 8rem;
    padding-left: 4rem;
  
    
}
.bg-curve-bottom1{
    background-image: url(../images/bg-section-bottom-desktop-1.svg);
    background-repeat: no-repeat;
    background-size: 100% 7.125rem; 
    height:  7.125rem; 
}

.article-images{
    width:20rem;
}

h2{
    font-family: poppins-700,sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
    color:var(--VeryDarkCyan)
}

.article.three{
    width:70%;
    font-family:OpenSans-400,sans-serif;
    margin-bottom: 4rem;
    color:var(--VeryDarkCyan)
}

.article-four{
    display: flex;
    padding-right: 4rem;
    padding-left: 4rem;
    margin-top: 8rem;
    gap:18rem;
    margin-bottom: 6rem;

}

.article.four{
    width: 87%;
    font-family:OpenSans-400,sans-serif;
    color:var(--VeryDarkCyan);
    
    
}
.bg-curve-top2{
    background-image: url(../images/bg-section-top-desktop-2.svg);
    background-repeat: no-repeat;
    background-size: 100% 7.125rem; 
    height:  7.125rem; 
}
.article-five{
    display: flex;
    padding-left: 4rem;
    padding-right: 8rem;
    gap:10rem;
    background-color: rgb(246,251,255);
}
.bg-curve-bottom2{
    background-image: url(../images/bg-section-bottom-desktop-2.svg);
    background-repeat: no-repeat;
    background-size: 100% 7.125rem; 
    height:  7.125rem; 
}

.article.five{
    width: 55%;
    font-family:OpenSans-400,sans-serif;
    margin-bottom: 4rem;
    color:var(--VeryDarkCyan);
}

.article-six{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 10rem;
}
.bg-footer{
    background-image: url(../images/bg-footer-top-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100% 7.125rem; 
    height:  7.125rem; 
}
footer{
    display: flex;
    background-color: rgb(1,38,47);
    padding-bottom: 3rem;
    padding-top: 3rem;
    padding-right: 4rem;
    padding-left: 4rem;
    gap:30%;
}

.footer-logo{
    filter:brightness(0) invert(1);
    margin-bottom: 2.5rem;
}
.footer-para{
    width: 55%;
    font-family:OpenSans-400,sans-serif;
   color: white;
   margin-bottom: 2rem;

}

.footer-image{
    margin-right: 1rem;
}
.footer-icon{
    margin-bottom: 1rem;
}

.footer-icon2{
    margin-bottom: 4rem;
}

nav{
    display: flex;
    gap:1rem;
}

.nav-image{
    filter:brightness(0) invert(1);

}

.nav-image:hover{
    cursor: pointer;
    filter: invert(53%) sepia(92%) saturate(1018%) hue-rotate(150deg) brightness(100%) contrast(101%);

}


.footer-heading{
    color: white;
}

input{
    width:15em;
    padding:.5em;
    border: 2px solid white ;
    border-radius: .5rem;
    background-color: white;
    font-family:OpenSans-400,sans-serif;
    margin-right: 1rem;
    outline: none;
}



.label-btn{
    width:10em;
    padding:.5em;
    border: 2px solid var(--pink) ;
    border-radius: .5rem;
    background-color: var( --pink);
    color:white ;
    font-family:OpenSans-400,sans-serif;
}

.label-btn:hover{
    cursor: pointer;
    background-color:rgb(255,142,214);
    border:2px solid rgb(255,142,214);
}
@media screen and (max-width: 950px) {


    .logo-image{
        min-width: 150px;
       margin-right: 30px;
    }

    .article-one{
        padding-right: 3rem;
        padding-left: 3rem;
        
    }

    .article.one{
        width: auto;
    }

    .mockup-image-img{
        padding-right: 3rem;
        padding-left: 3rem;
    }

    .mockup-image-img{
        margin-bottom: 6rem;

    }


    .article-two{
        flex-direction: column;
        padding-right: 3rem;
        padding-left: 3rem;
    }
    

    .two-first{
        margin-bottom: 4rem;
    }

    .article-three{
        flex-direction:column-reverse ;
        justify-content: center;
        align-items: center;
        padding-right: 3rem;
        padding-left: 3rem;
        gap:5rem;
    }

     .article.three{
        width: auto;
    } 

    .article-four{
        flex-direction:column ;
        gap:5rem;
        justify-content: center;
        align-items: center;
        padding-right: 3rem;
        padding-left: 3rem;
    }

    .article.four{
        width: auto;

    }

    .article-five{
        flex-direction:column-reverse ;
        justify-content: center;
       align-items: center;
       gap:5rem;
       padding-right: 3rem;
        padding-left: 3rem;
    }
    .article.five{
        width: auto;

    }


    .article-six{
        padding-right: 5rem;
        padding-left: 5rem;
    }

   

 
    

    .article-subclass{
        text-align: center;
    }

    footer{
        
        flex-direction: column-reverse;
        gap: 5rem;
        padding-right: 3rem;
        padding-left: 3rem;
        
    }


    .footer-para{
        width: auto;
    }


   

    form{
        display: flex;
        flex-direction: column;
        gap:2rem;
    }

  
    input{
        width: auto;
    }

    nav{
        justify-content: center;
        align-items: center;
    }
    
 



    
}

@media screen and (max-width: 500px) {
    .bg-curve-top1{
        background-image: url(../images/bg-section-top-mobile-1.svg);
    }

    .bg-curve-bottom1{
        background-image: url(../images/bg-section-bottom-moibile-1.svg);
    }

    .bg-curve-top2{
        background-image: url(../images/bg-section-top-mobile-2.svg);
    }

    .bg-curve-bottom2{
        background-image: url(../images/bg-section-bottom-mobile-2.svg);
    }

    .bg-footer{
        background-image: url(../images/bg-footer-top-mobile.svg);
    }







}